.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0;
}

.Home .lander .scratch-container {
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}

.Home .lander .scratch-underline {
  position: absolute;
  height: 16px;
  z-index: -1;
  left: -8px;
  bottom: -4px;
  right: -8px;
  background-color: #ffeee8;
  padding-top: 0;
}

.Home .lander p {
  color: #999;
}

.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Home .page-header {
  border-bottom: none;
  margin-left: 13px;
}

.Home .header-title-container {
  position: relative;
  display: inline-block;
  font-weight: bold;
}

.Home .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home .your-notes-underline {
  position: absolute;
  height: 16px;
  z-index: -1;
  left: -8px;
  bottom: -4px;
  right: -8px;
  background-color: #ffeee8;
}

.Home .notes p {
  color: #666;
}

.Home .lander div {
  padding-top: 20px;
}
.Home .lander div a:first-child {
  margin-right: 20px;
}

.Home .list-group-item {
  border: 1px solid #e3f0fe;
  transition: background-color 0.2s;
}

.Home .list-group-item:hover {
  background-color: #e3f0fe;
}

.Home .lander .signup-button {
  color: white;
  background-color: #ff6936;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 24px;
}

.Home .lander .signup-button:hover {
  background-color: #fc845d;
}

.Home .search-form {
  font-size: 20px;
  font-weight: normal;
}

.Home .search-form > input {
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 4px gray;
  padding: 8px 16px;
}

.Home .search-form > input:focus {
  outline: none;
  background-color: rgb(245, 243, 243);
}

.Home .search-results-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.Home .clear-search {
  background-color: #ff6936;
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 10px;
}

.Home .clear-search:hover {
  background-color: #fc845d;
}

.Home .search-results-header {
  margin-right: 5px;
  font-size: 18px;
  color: #fc845d;
}
