.LoaderButton .spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.LoaderButton {
  color: white;
  background-color: #387afe;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 24px;
}

.LoaderButton:disabled:hover {
  background-color: #387afe;
  color: white;
}

.LoaderButton:hover {
  background-color: #6091fa;
  color: white;
}
